<div class="attendance-root">
  <div class="attendance-today">
    <div class="attendance-text">
      <span>Attendance</span><br/>
      <span>Today</span>
    </div>
    <div class="att-label presents">
      <span class="att-count">{{presents}}</span><br/>
      <span class="today-label">Presents</span>
    </div>
    <div class="att-label absents">
      <span class="att-count">{{absents}}</span><br/>
      <span class="today-label">Absents</span>
    </div>
    <div class="att-label leaves">
      <span class="att-count">{{leaves}}</span><br/>
      <span class="today-label">Leaves</span>
    </div>
  </div>

</div>
